body
{
    background-color: black;
}

#container {
    background-color:#141c3a;
    max-width:450px;
    margin:auto auto;
}

.red {
    color:red;
    font-size:1.50em;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif
    }


figure {
    
    height:80px;
    opacity: 0.4;
    border:4px solid black;
    background-image: url("./pics/quiz-pic.PNG");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left;
    }   

#labels
{
    display: flex;
    justify-content: space-around;
    margin:30px 0px 30px 0px
}


h3 {font-weight:bold ;
            color:white;
            text-align:left;
            margin:20px 0px 0px 40px;
        }


h2  {
    background-color:white;
    text-align: right;
    font-size:2rem;

    }

hr
{
    width:50%;
    margin:auto auto;
    border: 3px solid white;
}


#btn
{
    color: rgb(8, 8, 8);
    background-color: #efbb24;
    border-radius: 50px;
    padding:1rem;
    margin-bottom:30px;
    border:4px solid black;
    font-weight: bold;
}
#subButton 
{
    display:none;
    margin:05px 40%;
    color:#efbb24;
    background-color: rgb(8, 8, 8);
    padding:1rem;
    width:100%;
    border:1px solid #efbb24;
    margin:auto auto;
    }
    #subButton:hover
    {
        background-color:rgb(43, 39, 39)
    }



li {list-style: none;}

#question 
        {text-align: center;
        font-style: italic;
        height:100px;
        font-weight: bold;
        font-size:17px;
        color:#efbb24;
        font-family:'Nunito', sans-serif;
        margin:10px 10% 0px 10%;
        }
main 
    {
    
    margin:  auto;
    text-align: center;
    padding:10px;
    height:60vh;
    
} 

#questionAnswers
{
    background:black;
    padding:20px 0px 0px 0px;
    border:5px rgb(43, 39, 39) solid
}

label 
    {
        font-family: sans-serif;
        font-weight: bolder;
        color:white
    }
    
#form
{
    
    
    display:none;
    text-align: start;
    margin-bottom:30px;
    padding-left:40px;
}

span
{
    font-size:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#efbb24
}
#info
{
    color:white
}

form label
{
    font-size: 14px;
}
